body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  background-color: black;  
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;  
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.sidebar {
  background-color: rgb(0, 162, 255);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: white;
  display: grid;  
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 90px repeat(10, 50px);
}

.sidebar .dashboard {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  align-self: center;  
  width: 40px;
  font-weight: 600;
}

.sidebar-logo {
  justify-self: center;
  align-self: center;
}

.sidebar img {
  width: 25px;
  cursor: pointer;
}

.sidebar p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  justify-self: start;
  align-self: center;
  cursor: pointer;
}

.settings-img {
  grid-row: 9 / 10;
}

.settings-text {
  grid-row: 9 / 10;
  grid-column: 2 / 3;
}

.support-img {
  grid-row: 10 / 11;
}

.support-text {
  grid-row: 10 / 11;
  grid-column: 2 / 3;
}

.privacy-img {
  grid-row: 11 / 12;
}

.privacy-text {
  grid-row: 11 / 12;
  grid-column: 2 / 3;
}

.header {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  box-shadow: 0px  5px  10px -5px  rgb(184, 184, 184);
  z-index: 1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1.5fr;
}

.search-side img {
  width: 30px;
}

.search-side {
  padding-top: 5px;
  display: flex;
  gap: 20px;
  align-items: center;  
  padding-left: 50px;
}

#search {
  background-color: rgb(216, 228, 232);
  border: none;
  border-radius: 50px;  
  width: 70%;
  height: 30px;
  flex: 1;
  font-size: 0.9rem;
  padding-left: 20px;
  outline: none;
}

.bell-side {
  padding-top: 5px;
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: calc(3px + 1vw);
}

.bell-side > img {
  width: 50px;
}

.bell {
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(1.03);
}

.neko {
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none; 
  background-color: initial;
}

.neko img {
  width: 50px;
  height: 50px;
  margin-left: -6px;
  margin-top: -1px;
}

.bell-side p {
  font-weight: bold;
  font-size: 1.2rem;
}

.name-side {
  padding-left: 50px;
  display: flex;  
  align-items: center;
}

.name-side .neko {
  width: 70px;
  height: 70px;
  margin-right: calc(3px + 1vw);
}

.name-side .neko img {
  width: 70px;
  height: 70px;
}

.name-hi {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.name-hi p {
  margin: 0;
  font-weight: 700;  
}

.name-hi p:first-child {
  font-size: 0.9rem;
}

.name-hi p:last-child {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

.buttons button {
  background-color: rgb(0, 162, 255);
  color: white;
  font-weight: bold;
  border: none; 
  height: 40px;
  width: 100px;
  border-radius: 50px;
}

.main-content {
  background-color: rgb(240, 236, 236);
  grid-area: 2 / 2 / 3 / 3;
}

.main-content-container {
  padding: 35px 0px 0px 20px;
}

h3 {
  margin: 0;
  padding: 0;
}

.card-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 200px 200px 200px;
  gap: 30px;
}

.card {
  background-color: white;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 8px -3px gray;
}

.card:active {
  transform: scale(1.005);
}