body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  background-color: rgb(0, 162, 255);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: white;
  display: grid;  
  grid-template-columns: 100px 300px;
  grid-template-rows: 200px repeat(6, 80px) repeat(5, 80px);  
}

.sidebar .dashboard {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  align-self: center;  
  width: 70px;
  font-weight: 600;
}

.sidebar-logo {
  justify-self: center;
  align-self: center;
}

.sidebar img {
  width: 40px;
}

.sidebar p {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  justify-self: start;
  align-self: center;
}

.settings-img {
  grid-row: 9 / 10;
}

.settings-text {
  grid-row: 9 / 10;
  grid-column: 2 / 3;
}

.support-img {
  grid-row: 10 / 11;
}

.support-text {
  grid-row: 10 / 11;
  grid-column: 2 / 3;
}

.privacy-img {
  grid-row: 11 / 12;
}

.privacy-text {
  grid-row: 11 / 12;
  grid-column: 2 / 3;
}

.header {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  box-shadow: 2px  1px  10px 1px  rgb(184, 184, 184);
  z-index: 1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1.5fr;
}

.header img {
  width: 40px;
}

.main-content {
  background-color: rgb(240, 236, 236);
  grid-area: 2 / 2 / 3 / 3;
}

.search-side {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
}

#search {
  background-color: rgb(230, 226, 226);
  border: none;
  border-radius: 50px;  
  width: 70%;
  height: 40px;
  flex: 1;
}